* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 600px;
  background: black;
  text-align: center;
  margin: 36px auto;
  border-radius: 10px;
}

h1 {
  color: #fff;
  font-size: 58px;
}

.PokemonCardContainer {
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 30px auto;
}

.PokemonCardWrapper {
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
flex-flow: row wrap;
flex-wrap: wrap;
gap: 16px;
padding: 0 20px;
height: auto;
padding-bottom: 16px;
}

.PokemonCard {
width: 200px;
background: #fff;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border-radius: 10px;
height: 270px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
transition: all 0.2s ease-in-out;
}

.PokemonCard:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
} 

.PokemonIcon {
height: 120px;
width: 120px;
align-items: center;
}


.PokemonName {
font-size: 1.5rem;
color: black;
margin-bottom: 10px;
padding-top: 10px;
}


.PokemonId {
font-size: 1.2rem;
margin-bottom: 10px;
text-align: center;
}

.PokemonType {
font-size: 1.2rem;
text-align: center;
padding-bottom: 10px;
}

.Button {
padding: 16px 0;
border: none;
margin-top: 16px;
border-radius: 4px;
width: 200px;
font-size: 20px;
cursor: pointer;
outline: none;
background: linear-gradient(
90deg,
rgb(112, 66, 204) 0%,
rgb(202, 147, 236) 100%
);
color: #fff;
text-transform: capitalize;
}

.Button:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
};